body{
    background-color: rgb(141, 77, 0);
}
#contact {
  padding-top: 0%;
}
#resume {
  padding-bottom: 1rem;
}
#bannerprof{
  border:outset;
  border-color: rgb(98, 233, 88);
}
#header{
  opacity: 100%;
  padding: 5px;
  border: 0;
}
#about{
  /* background-image: url(../img/Forest.jpg); */
  background-color: rgb(7, 30, 6);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  margin: 1%;

}
#skills{
  background-color: rgb(7, 30, 6);
  color: rgb(255, 255, 255);
  margin: 1%;
}
#resume{
  color: rgb(255,255,255);
  margin: 1%;
  background-color: rgb(7, 30, 6);
}
#contact{
  margin: 1%;
  background-color: rgb(7, 30, 6);
}
#about h2 {
  color:darkorange;
}
#skills h2 {
  color: #ff9d00;
}
#resume h2 {
  color: #ff9d00;
}
#contact h2 {
  color: #ff9d00;
}#about h3 {
  color:darkorange;
}
#skills h3 {
  color: #ff9d00;
}
#resume h3 {
  color: #ff9d00;
}
#contact h3 {
  color: #ff9d00;
}


/* #HOME{
    background-image: url(../img/pexels-luis-del-río-15286.jpg);
    color: black;
  } */
